@font-face {
    font-family: BebasNeue;
    src: url("../sources/fonts/BebasNeue-Regular.ttf");
}

.body-welcome {
    background-image: url('../sources/images/welcome.jpg');
    background-size: 100%;
    text-align: center;
    height: 100vh;
}

.wrapper-welcome{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper-welcome p{
    font-family: BebasNeue, sans-serif;
    font-size: 80px;
    background-color: rgba(108, 117, 125, 0.7);

}
.main-fg{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.btn-secondary{
    font-size: 38px;
    font-family: BebasNeue, sans-serif;
}
