body{
    font-size: 14px;
    font-family: sans-serif;
    height: 100vh;
    background-image: url('../sources/images/welcome.jpg');
    background-size: 100%;
}

.wrapper-register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register{
    width: 400px;
    padding: 20px;
    background-color: rgba(108, 117, 125, 0.7);
}